

.carte-profil {
    text-align: center;
    background-color: rgb(108, 104, 87);
    margin: 150px auto;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

h2, h3 {
    color: white;
   
}

h2 {
    font-size: 50px;
    
}

h3 {
    text-transform: uppercase;
}